<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <connectionStrings>
    <!--<add name="connectionCBHC" connectionString="Data Source=117.103.87.202,1433; Initial Catalog=PosCanva;Integrated Security=False; User ID=sa;Password=syeduR; MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="connectionCBHC" connectionString="Data Source=117.103.87.202,1433; Initial Catalog=Sadakalo;Integrated Security=False; User ID=sa;Password=syeduR; MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />-->
  <!--<add name="connectionCBHC" connectionString="Data Source=159.69.153\SQL_2012; Initial Catalog=Sadakalo;Integrated Security=False; User ID=sa;Password=syeduR; MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />-->
<add name="connectionCBHC" connectionString="Data Source=159.69.153.172\SQL_2012; Initial Catalog=Sadakalo;Integrated Security=False; User ID=sa;Password=syeduR; MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />  

  </connectionStrings>
</configuration>